<ion-app>
  <ion-content>
    <img src="./assets/clear.svg" class="clear ion-float-right" (click)="location.back()">
    <!--  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">-->
    <!--    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"-->
    <!--                (dragEnd)="markerDragEnd($event)"></agm-marker>-->
    <div style="height: 60%">

    </div>
    <div class="search-div" style="position: fixed; bottom: 0">
      <div style="height: 1px">

      </div>
      <div class="header ion-margin-start ion-margin-horizontal">
        Tracking your order
      </div>
      <div class="subheader ion-margin-vertical ion-margin-start ion-margin-horizontal">
        Your order should be at your location in:
      </div>
      <div class="time">
        50 min
      </div>
      <div style="height: 68px"></div>
    </div>
  </ion-content>
</ion-app>
