<ion-header class="ion-no-border">
    <ion-toolbar>
        <img src="./assets/Back%20button.png" class="back" (click)="location.back()">
        <div class="logo">
            <img src="./assets/Logo.png">
        </div>
        <img class="ion-float-right edit" src="./assets/clear.svg" (click)="location.back()">
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="ion-margin-horizontal">
        <div class="header">
            Checkout
        </div>
        <div>
            <ion-grid class="option">
                <ion-row class="ion-margin-vertical">
                    <ion-col size-xs="9" class="ion-margin-vertical">
                        <label class="container">
                            <span class="radio-button__label value">•••• •••• •••• 4432</span>
                            <span class="radio-button__label name">Mastercard - 06/23</span>
                            <span class="checkmark"></span>
                        </label>
                    </ion-col>
                    <ion-col size-xs="3" class="ion-float-right" style="display: flex; align-items: center">
                        <a class="change ion-float-right">
                            Change
                        </a>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div class="items" *ngFor="let item of itemList">
            <img src="./assets/blank.png" class="image-block">
            <div class="item-details">
                <ion-grid>
                    <ion-row>
                        <ion-col size="8">
                            <div class="item-name">{{item.name}}</div>
                            <div class="item-quantity">{{item.count}} items x ${{item.discountedPrice}}.00</div>
                        </ion-col>
                        <ion-col size="4" style="margin-top: 5px;">
                           <div class="ion-float-right" style="justify-content: flex-end; display: flex;flex-direction: column">
                               <div class="priceTag ion-float-right">
                                   &#x20b9;{{item.discountedPrice.toString()}}.00
                               </div>
                               <div class="originalPrice ion-float-right">&#x20b9;{{item.originalPrice}}</div>
                           </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
        </div>

<!--        // Coupon-->
        <div class="coupon">
<!--            <div class="input-group-append" routerLink="/coupons" role="button"-->
<!--                 style="color: #EA0A8E;border: none;position: absolute;left: 68%; margin-top: 5px">-->
<!--                See Coupons-->
<!--            </div>-->
<!--            <ion-input placeholder="Enter Coupon Code"></ion-input>-->
            <ion-grid>
                <ion-row>
                    <ion-col size-xs="7">
                        <ion-input style="border: none" placeholder="Enter Coupon Code"></ion-input>
                    </ion-col>
                    <ion-col size-xs="5"  style="margin-top: 8px">
                     <b class="text-pink ion-float-right" routerLink="/coupons" role="button" style="outline: none" >See Coupons</b>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <div class="horizontal-line">

            </div>
        </div>
        <!--    // Tips-->
        <ion-grid class="ion-margin-vertical">
            <p class="heading">Add Tip</p>
            <ion-row>
                <div class="your-rating">
                    5%
                </div>
                <div class="your-rating">
                    10%
                </div>
                <div class="your-rating">
                    15%
                </div>
                <div class="rating-selected your-rating" style="background: #EA0A8E; color: white">
                    20%
                </div>
                <div class="your-rating">
                    25%
                </div>
            </ion-row>
            <ion-row class="ion-margin-vertical">
                <small style="color: #919099">Our riders are risking their lives to serve the nation</small>
                <br>
                <br>
                <b  style="color: #EA0A8E; margin-bottom: 25px" routerLink="/add-review">+ Manually Add</b>
            </ion-row>
        </ion-grid>

        <!--    // Total count-->
        <ion-grid class="ion-margin-vertical">
            <ion-row>
                <ion-col size-xs="5">
                    <small class="ion-float-right  text-gray">Total</small>
                </ion-col>
                <ion-col size-xs="7">
                    <small class="ion-float-right text-gray">&#x20b9;33.00</small>
                </ion-col>
            </ion-row>
          <ion-row>
            <ion-col size-xs="5">
              <small class="ion-float-right text-gray">Discount</small>
            </ion-col>
            <ion-col size-xs="7">
              <small class="ion-float-right text-gray">&#x20b9;3.00</small>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size-xs="5">
              <p class="ion-float-right text-pink">Total</p>
            </ion-col>
            <ion-col size-xs="7">
              <p class="ion-float-right text-pink">&#x20b9;30.00</p>
            </ion-col>
          </ion-row>
        </ion-grid>
<!--      // next place order button-->
      <ion-grid class="ion-margin-vertical">
        <ion-row>
          <ion-col size-xs="12">
            <ion-button class="place-order" routerLink="/order-confirm" expand="block" >Place order -&#x20b9;30.00</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
</ion-content>
<ion-toolbar>
    <app-tabs></app-tabs>
</ion-toolbar>
