.logo {
  width: 25px;
  margin: auto;
}

.back {
  position: absolute;
  margin-top: 8px;
  margin-left: 30px;
  transform: translate(-50%, -50%);
}

.edit {
  position: absolute;
  top: 2.5px;
  left: 88%;
}

.header {
  font-family: "Sf bold";
  font-size: 30px;
  margin-top: 30px;
}
.change {
  color: #EA0A8E;
  margin-top: 5px;
  font-size: 14px;
  font-family: 'Sf bold';
  margin-left: 30px;
}
.value {
  font-family: 'sf medium';
  font-size: 15px;
  position: absolute;
  top: -3px;
  white-space: nowrap
}

.name {
  font-family: 'sf medium';
  color: gray;
  font-size: 14px;
  position: absolute;
  bottom: -25px;
}
.items {
  display: flex;
  margin-top: 10%;
}
.item-name {
  color: #1A1A1A;
  font-family: "Sf bold";
  font-size: 14px;
}

.item-quantity {
  color: #919099;
  font-family: "sf regular";
  font-size: 12px;
  margin-top: 15px;
}

.item-details {
  margin-left: 5%;
  width: 100%;
}
.image-block {
  background-color: #EAEAEB;
  border-radius: 5px;
  width: 44px;
  height: 44px;
  max-width: 44px;
  max-height: 44px;
}
ion-grid{
  padding: 0;
}
.option{
  margin-bottom: 20%;
}
.priceTag {
  font-size: 14px;
  color: #EA0A8E;
  font-family: "Sf bold";
}

.originalPrice {
  color: #1A1824;
  font-size: 12px;
  margin-left: 6%;
  font-family: "sf regular";
  text-decoration: line-through;
}
ion-col{
  padding: 0;
}
ion-input {
  border-bottom: 1px solid #EFEFEF;
  --padding-start: 0px;
  ::ng-deep input:focus {
    border-bottom: 1px solid black;
  }
}
.coupon{
  margin-top: 20%;
}
