<ion-header class="ion-no-border">
    <ion-toolbar>
        <div class="logo">
            <img src="./assets/Logo.png">
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-margin-horizontal ion-margin-vertical ion-margin-start">
        <div class="header">My Wishlist</div>
        <div class="subheader ion-margin-vertical" *ngIf="wishlist.length > 0">
            {{wishlist.length}} items added
        </div>
        <div *ngIf="wishlist.length === 0" class="empty">
            Your wishlist is empty!
        </div>
        <div class="ion-margin-vertical" *ngFor="let item of wishlist">
        <ion-grid style="padding-left: 0px">
            <ion-row>
                <ion-col size="2" style="padding-left: 0px">
                    <img src="./assets/blank.png" class="item-image">
                </ion-col>
                <ion-col size="6">
                    <div class="item-name">{{item.name}}</div>
                    <div class="item-quantity">{{item.amount}} gms</div>
                </ion-col>
                <ion-col size="4">
                    <div style="display: flex; float: right"  >
                        <div class="item-price">&#x20b9;{{addZeroes(item.discountedPrice.toString())}}</div>
                        <div class="item-subprice">&#x20b9;{{addZeroes(item.price.toString())}}</div>
                    </div>
                </ion-col>
<!--                <ion-col size="2">-->
<!--                    <div class="item-subprice">${{addZeroes(item.price.toString())}}</div>-->
<!--                </ion-col>-->
            </ion-row>

            <ion-row>
                <ion-col size-xs="12">
                    <div class="button ion-float-right" >
                        <ion-button class="delete-button" (click)="deleteAlert()">Delete</ion-button>
                        <ion-button class="add-button" (click)="router.navigate(['tabs','cart-tab'])">Buy</ion-button>
                    </div>
                </ion-col>
            </ion-row>
        </ion-grid>
        </div>
    </div>

</ion-content>
