<ion-app>
<ion-content>
  <img src="./assets/Back%20button.png" (click)="navCtrl.back()" class="back">
<!--  <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">-->
<!--    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"-->
<!--                (dragEnd)="markerDragEnd($event)"></agm-marker>-->
    <div style="height: 60%">

    </div>
    <div class="search-div">
            <div style="height: 1px">

            </div>
      <div class="header ion-margin-start">
        Search nearby stores
      </div>
      <div class="search ion-margin-start">
      <ion-searchbar type="text" class="native-input sc-ion-input-ios" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search></ion-searchbar>
      </div>
      <div style="display: flex;justify-content: center;align-items: center">
        <ion-button class="search-button" expand="block">Search</ion-button>
      </div>

      <div class="header ion-margin-start">
        Near by stores
      </div>

        <div *ngFor="let shop of storeList" class="ion-margin-start">
             <span>
                <img routerLink="/shop"  class="shop-img" src="./assets/shop.jpg"/>
             <div class="subhead">{{shop.name}}</div>
                 <p style="display: flex;font-size: 12px;font-family: 'sf regular'">{{shop.tag}}</p>
                 <div class="rating-time">
                     <div class="shop-rtf">
                        <span class="span" ><img style="width: 13px; margin-right: 5px" src="./assets/star.svg">  <small>   {{shop.star}}</small></span>
                     </div>
                      <div class="shop-rtf">
                        <span class="span" ><img src="./assets/clock.svg" style="margin-right: 5px"> <small>  {{shop.time}}</small></span>
                     </div>
                      <div class="shop-rtf">
                        <span class="span" ><img  src="./assets/money.svg" style="margin-right: 5px"> <small>   {{shop.cost}}</small></span>
                     </div>
                 </div>
           </span>

      </div>
      <div class="header ion-margin-start">
        Gift Cards
      </div>
      <div *ngFor="let shop of caardList" class="ion-margin-start">
             <span>
                <img routerLink="/shop"  class="shop-img" src="./assets/blank.png"/>
             <div class="subhead">{{shop.name}}</div>
                 <p style="display: flex;font-size: 12px;font-family: 'sf regular'">{{shop.tag}}</p>
                 <div class="rating-time">
                     <div class="shop-rtf">
                        <span class="span" ><img style="width: 13px; margin-right: 5px" src="./assets/star.svg">  <small>   {{shop.star}}</small></span>
                     </div>
                      <div class="shop-rtf">
                        <span class="span" ><img src="./assets/clock.svg" style="margin-right: 5px"> <small>  {{shop.time}}</small></span>
                     </div>
                      <div class="shop-rtf">
                        <span class="span" ><img  src="./assets/money.svg" style="margin-right: 5px"> <small>   {{shop.cost}}</small></span>
                     </div>
                 </div>
           </span>

      </div>
        <div style="height: 16px"></div>
      </div>
</ion-content>
</ion-app>
