<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button class="ion-hide" slot="start"></ion-back-button>
    <div class="logo">
      <img src="./assets/Logo.png">
    </div>
  </ion-toolbar>
</ion-header>
<ion-app>
  <ion-content>
<!--    <ion-grid class=" ion-margin-top ">-->
<!--      <ion-row class="logo">-->
<!--        <img src="./assets/Logo.png">-->
<!--      </ion-row>-->
<!--    </ion-grid>-->
    <ion-grid class=" ion-margin-top ">
      <ion-row class="image ion-justify-content-center">
        <img src="./assets/signin.png">
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <h3 class="signin-text">Sign in options</h3>
      </ion-row>
      <ion-row class="sign-apple ion-justify-content-center">
        <div class="button"><ion-icon name="logo-apple" style="margin-right: 10px;margin-bottom: 2px"></ion-icon><span>Sign in with apple</span></div>
      </ion-row>
      <ion-row class="social-login ion-justify-content-center">
        <ion-col size-xs="5" class="sign">
          <div>
            <div class="button"><img src="./assets/google.png"></div>
          </div>
        </ion-col>
        <ion-col size-xs="5" offset="1" class="sign">
          <div>
            <div class="button"><img src="./assets/facebook.png"></div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="mobile-login ion-justify-content-center">
        <div class="button" [routerLink]="['/sign-with-mobile']">Sign in with mobile</div>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
