<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <div>
        <img>
      </div>
      <div class="logo">
        <img src="./assets/Logo.png">
      </div>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-grid class=" ion-margin-top ">
      <ion-row>
        <h1>Few details to get thing personaliesd</h1>
      </ion-row>
      <ion-row class="details">
        <ion-col size="11">
          <ion-input placeholder="Enter Your Name" [(ngModel)]="name" (ngModelChange)="checkName()"></ion-input>
          <small *ngIf="nameCheck">Please enter your name
          </small>
          <ion-input class=" ion-margin-top " placeholder="Enter your email ID" [(ngModel)]="email" (ngModelChange)="checkEmail()"></ion-input>
          <small *ngIf="eCheck">Please enter a valid email</small>
          <small *ngIf="emailcheck">Please enter your email</small>
        </ion-col>
        <ion-col size="1">

        </ion-col>
      </ion-row>
      <ion-row class="gender">
        <ion-col size="12">
          <ion-list lines="none" >
            <ion-radio-group value="biff" [(ngModel)]="gender" >
              <ion-item>
                <ion-label>Male</ion-label>
                <ion-radio slot="start" value="Male"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>Female</ion-label>
                <ion-radio slot="start" value="Female"></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>Others</ion-label>
                <ion-radio slot="start" value="Others"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <small *ngIf="gCheck" class="ion-margin-start">Please select gender</small>
        </ion-col>

      </ion-row>
      <ion-row>
        <ion-button expand="block" class="upperBtn" (click)="confirm()">Next</ion-button>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
