<ion-header>
  <ion-toolbar>
    <ion-title slot="start" class="ion-margin-start">Select Country</ion-title>
    <a slot="end" class="ion-margin-end" (click)="modalController.dismiss()">Close</a>
  </ion-toolbar>
 </ion-header>
<ion-content>
  <ion-searchbar [(ngModel)]="searchInput" (ngModelChange)="search()"></ion-searchbar>
<ion-list *ngIf="viewList.length > 0">
  <ion-item *ngFor="let country of viewList" (click)="select(country)" >
    <ion-grid>
      <ion-row>
        <ion-col>
          <img [src]="country?.flag" width="30">
        </ion-col>
        <ion-col>
          {{country?.name}}
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-list>
  <div *ngIf="viewList.length === 0" class="no-item ion-margin-vertical">
    No country found!
  </div>
</ion-content>
