<ion-app>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <div>
        <img>
      </div>
      <div class="logo">
        <img src="./assets/Logo.png">
      </div>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <ion-grid class=" ion-margin-top ">
    <ion-row>
      <h1>Enter your phone number</h1>
    </ion-row>
    <ion-row style="margin-left: 30px; margin-right: 30px">
      <ion-col>
        <ion-select (click)="changeFlag()" [(ngModel)]="amd">
          <ion-select-option *ngFor="let item of countryList"  [value]="'+'+item.callingCodes[0]">{{item.alpha2Code}}</ion-select-option>
        </ion-select>
        <ion-input class="amd" [(ngModel)]="amd" ></ion-input>
      <ion-input class="main" placeholder="Enter Your Phone Number" [clearInput]="true" (click)="clear()" type="tel" [(ngModel)]="phoneNumber" (ngModelChange)="changeflag()"></ion-input>
      </ion-col>
    </ion-row>
    <a class="warning" *ngIf="warningFlag">Phone Number is Invalid!</a>
    <ion-row>
      <ion-button expand="block" class="upperBtn" (click)="click()" *ngIf="false" >Next</ion-button>
    <ion-button expand="block" class="lowerBtn" (click)="click()" *ngIf="true" >Next</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
</ion-app>
