<ion-app>
    <ion-content>
        <div class="title">
            Add to basket
        </div>
        <ion-grid>
            <ion-row>
                <ion-col size="8">
                    <div class="itemCount">
                        {{itemCount}}x item
                    </div>
                    <div class="item">
                        Pizza Dough
                    </div>
                </ion-col>
                <ion-col size="4">
                </ion-col>
            </ion-row>
        </ion-grid>
        <!--        <ion-list lines="none" >-->
        <!--            <ion-radio-group value="biff" [(ngModel)]="selectedItem">-->
        <!--                <div  *ngFor="let item of itemList">-->
        <!--                <ion-item>-->
        <!--                    <ion-label><ion-grid><ion-row><ion-col size="7"><span class="radioLable1">{{item.name}}</span></ion-col><ion-col size="3"><span class="radioLable1" style="border:  1px solid gray;padding: 2%">x{{item.count}}</span></ion-col><ion-col><span class="price">${{item.price}}</span></ion-col></ion-row></ion-grid></ion-label>-->
        <!--                    <ion-radio slot="start" [value]="item.name"></ion-radio>-->
        <!--                </ion-item>-->
        <!--                </div>-->
        <!--            </ion-radio-group>-->
        <!--        </ion-list>-->
        <ion-grid style="margin-left: 30px; margin-right: 10px">
            <ion-row *ngFor="let item of itemList">
                <ion-col size="5.5" style="display: flex;align-items: center">
                    <span class="radioLable1" style="white-space: nowrap">{{item.name}}</span>
                </ion-col>
                <ion-col size="1">
                    <div class="minus">
                        <img src="./assets/Rectangle%203.png" width="15" (click)="remove(item.name)">
                    </div>
                </ion-col>
                <ion-col size="2" style="align-items: center;text-align: center;justify-content: center;display: flex">
                    <span style="border: 1px solid black;padding:2px;white-space: nowrap">
                    x{{item.count}}
                        </span>
                </ion-col>
                <ion-col size="1">
                    <img src="./assets/Add%20item%20button.png" width="25" class="plus" (click)="add(item.name)">
                </ion-col>
                <ion-col size="0.5"></ion-col>
                <ion-col size="2" style="text-align: right; display: flex;justify-content: center; align-items: center">
                    <span class="price">${{addZeroes((item.price * item.count).toString())}}</span>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="ion-justify-content-center" style="margin-top: 5em">
            <ion-button expand="block" class="lowerBtn" [disabled]="totalPrice === 0" (click)="submit()">Add to order ${{addZeroes(totalPrice.toString())}}</ion-button>
        </div>
    </ion-content>
</ion-app>
