.title{
  font-family: "Sf bold";
  font-size: 30px;
  margin-left: 30px;
  margin-top: 30px
}
.itemCount{
  font-family: "sf regular";
  font-size: 16px;
  margin-left: 30px;
  margin-top: 30px;
}
.item{
  font-family: "Sf bold";
  margin-left: 30px;
  font-size: 16px;
}
.lowerBtn{
  --background: #EA0A8E;
  border-radius: 50px;
}
.ion-justify-content-center{
  margin-left: 10%;
  margin-right: 10%;
}
.radioLable1{
  font-family: "sf regular";
  font-size: 14px;
  margin-left: 10px;
}
ion-radio{
  margin: 0px;
  --color-checked: #EA0A8E;
}
ion-item{
  margin-left: 30px;
}
.price{
  color: #EA0A8E;
  font-size: 16px;
  font-family: "Sf bold";
}
ion-col{
  padding: 0;
  margin-top: 2%;
}


