<ion-app>
    <ion-content>
        <div class="title">
            Add to basket
        </div>
        <ion-grid>
            <ion-row>
                <ion-col size="8">
                    <div class="itemCount">
                        {{itemCount}}x item
                    </div>
                    <div class="item">
                        Pizza Dough
                    </div>
                </ion-col>
                <ion-col size="4">
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid style="margin-left: 30px; margin-right: 10px">
            <ion-row *ngFor="let item of itemList">
                <ion-col size="5.5" style="display: flex;align-items: center">
                    <span class="radioLable1" style="white-space: nowrap">{{item.name}}</span>
                </ion-col>
                <ion-col size="1">
                    <div class="minus">
                        <img src="./assets/Rectangle%203.png" width="15" (click)="remove(item.name)">
                    </div>
                </ion-col>
                <ion-col size="2" style="align-items: center;text-align: center;justify-content: center;display: flex">
                    <div class="count-button">
                        <div class="button-text">{{item.count}}</div>
                    </div>
                </ion-col>
                <ion-col size="1">
                    <img src="./assets/Add%20item%20button.png" width="25" class="plus" (click)="add(item.name)">
                </ion-col>
                <ion-col size="0.5"></ion-col>
                <ion-col size="2" style="text-align: right; display: flex;justify-content: center; align-items: center">
                    <span class="price">&#x20b9;{{addZeroes((item.price * item.count).toString())}}</span>
                </ion-col>
            </ion-row>
        </ion-grid>
        <div class="button ion-margin-start" style="margin-top: 5em">
            <ion-button expand="block" class="lowerBtn" [disabled]="totalPrice === 0" (click)="submit()">Add to order &#x20b9;{{addZeroes(totalPrice.toString())}}</ion-button>
        </div>
    </ion-content>
</ion-app>
