<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button  slot="start"></ion-back-button>
    <div class="logo">
      <img src="./assets/Logo.png">
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin-start">
    <ion-row>
      <h2 class="title">Add your review</h2>
    </ion-row>
    <br>
    <br>
    <ion-row style="margin-right: 20%">
      <ion-input style="caret-color: #EA0A8E" placeholder="Tell us about your experience"></ion-input>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row class="submit">
      <ion-button class="signin" expand="block" routerLink="/shop">Submit</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>

