.logo {
  width: 25px;
  margin: auto;
}
.back {
  position: absolute;
  margin-top: 8px;
  margin-left: 30px;
  transform: translate(-50%, -50%);
}
.title {
  font-family: 'sf bold';
  font-size: 25pt;
}
ion-input {
  border-bottom: 1px solid #EFEFEF;
}
ion-button {
  width: 80%;
  --background: #EA0A8E;
  text-transform: none;
  margin: auto;
}
.submit {
  margin-top: 40%;
}
