<ion-header class="ion-no-border">
  <ion-toolbar>
      <div class="logo">
        <img src="./assets/Logo.png">
      </div>
      <img class="ion-float-right edit" src="./assets/edit.png" (click)="router.navigate(['edit-profile'])">
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-margin-horizontal ion-margin-vertical">
    <div class="header">Profile</div>
    <div class="tag ion-margin-top">Name</div>
    <div class="value">Aditya Kaushal</div>
    <div class="tag">Mobile Number</div>
    <div class="value">9654882872</div>
    <div class="tag">Default Address</div>
    <div class="value">Bucharest, Romania</div>
    <div class="tag">Default Payment Method</div>
    <div class="value">•••• •••• •••• 4432</div>
    <div class="tag2">Mastercard - 06/23</div>
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <div class="tag">Receive notifications</div>
          <div class="value">{{notification? 'Enabled' : 'Disabled'}}</div>
        </ion-col>
        <ion-col size="4" class="toggle-col">
          <ion-toggle [(ngModel)]="notification" (ngModelChange)="change('Notification',notification? 'Enabled' : 'Disabled')"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="8">
          <div class="tag">Receive newsletters</div>
          <div class="value">{{newsletters? 'Enabled' : 'Disabled'}}</div>
        </ion-col>
        <ion-col size="4" class="toggle-col">
          <ion-toggle [(ngModel)]="newsletters" (ngModelChange)="change('Newsletters',newsletters? 'Enabled' : 'Disabled')"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col size="8" style="display: flex; align-items: center">
          <!--        <div class="tag">&nbsp;</div>-->
          <div class="value">{{blank? 'Enabled' : 'Disabled'}}</div>
        </ion-col>
        <ion-col size="4" class="toggle-col">
          <ion-toggle [(ngModel)]="blank" (ngModelChange)="change('',blank? 'Enabled' : 'Disabled')"></ion-toggle>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
