.logo {
  width: 25px;
  //margin-left: 45%;
  margin: auto;
}

.back {
  position: absolute;
  margin-top: 8px;
  margin-left: 30px;
  transform: translate(-50%, -50%);
}

ion-input {
  --padding-start: 0px;
  border-bottom: 1px solid #EFEFEF;
  font-size: 12px;
  font-family: "Sf regular";
  ::ng-deep input:focus {
    border-bottom: 1px solid black;
  };
}

.header {
  font-family: "Sf bold";
  font-size: 30px;
  margin-bottom: 30px;
}

.radioLable {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Sf regular';
  font-size: 12px
}
.save-button{
  --background: #EA0A8E;
  color: white;
  margin-top: 50px;
  text-transform: none;
  font-family: "Sf regular";
  font-size: 14px;
}
ion-checkbox{
  --border-radius: 50%;
  --background-checked: #EA0A8E;
  --border-color-checked: #EA0A8E;
  --checkmark-width: 3px;
}
.clear {
  position: absolute;
  top: 2.5px;
  left: 85%;
}
