.logo {
  width: 25px;
  margin: auto;
}

.header {
  font-family: "Sf bold";
  font-size: 30px;
  margin-top: 20px;
}

.image {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

ion-grid {
  padding: 0;
}

ion-row {
  padding: 0;
  border-bottom: 0.5px solid lightgrey;
}

ion-col {
  padding: 0;
}

.name {
  font-family: "Sf bold";
  font-size: 14px;
  margin-top: 1px;
}

.item-price {
  color: #EA0A8E;
  font-family: "Sf bold";
  font-size: 14px;
  white-space: nowrap;
}

.item-subprice {
  font-family: "Sf regular";
  font-size: 10px;
  text-decoration: line-through;
  margin-left: 5px;
}

.status {
  font-size: 12px;
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  margin-top: 4px;
}

.reorder {
  --background: #EA0A8E;
  height: 27px;
  color: white;
  text-transform: none;
  --border-radius: 7px;
  font-family: "Sf medium";
  margin-bottom: 10px;

}
