.logo {
  width: 25px;
  margin: auto;
}

h1{
  font-weight: bolder;
  font-size: 30px;
  margin: 30px;
}
.text{
  text-align: center;
  margin-top: 300px;
  margin-bottom: 100px
}
ion-input{
  --placeholder-font-weight: bolder;
}
