<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-back-button slot="start"></ion-back-button>
    <div class="logo">
      <img src="./assets/Logo.png">
    </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid class=" ion-margin-top ">
    <ion-row>
      <h1>Enter the 4-digit code sent to you at <span style="color: #EA0A8E">{{phoneNumber}}</span></h1>
    </ion-row>
    <ion-row>
      <ion-col size="3">
        <ion-input class="otp" #zero (keyup)="moveFocus(one, zero, 1, $event)"  [style]="style"  maxlength="1" (click)="clear()"  [(ngModel)]="firstD"  (ngModelChange)="verify()"></ion-input>
      </ion-col>

      <ion-col size="3">
        <ion-input class="otp" #one (keyup)="moveFocus(two, zero, 2, $event)"  [style]="style" maxlength="1"   (click)="clear()"  [(ngModel)]="secondD"  (ngModelChange)="verify()"></ion-input>
      </ion-col>

      <ion-col size="3">
        <ion-input class="otp" #two (keyup)="moveFocus(three, one,  3, $event)"  [style]="style" maxlength="1"  (click)="clear()" [(ngModel)]="thirdD" (ngModelChange)="verify()"></ion-input>
      </ion-col>

      <ion-col size="3">
        <ion-input class="otp" #three (keyup)="moveFocus(three,  two, 4, $event)"  [style]="style" maxlength="1"  (click)="clear()" [(ngModel)]="fourthD"  (ngModelChange)="verify()"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row  *ngIf="warningFlag">
      <a class="warning">The code you entered does not match. Try Again!</a>
    </ion-row>
  </ion-grid>
  <div class="upperText" *ngIf="!textFlag">
    I haven't received a code.
  </div>
  <div class="lowerText" *ngIf="textFlag">
  I haven't received a code.
  </div>
</ion-content>
