.logo {
  width: 25px;
  margin-left: 45%;
}
.back {
  position: absolute;
  margin-top: 8px;
  margin-left: 30px;
  transform: translate(-50%, -50%);
}
h1{
  font-weight: bolder;
  font-size: 30px;
  margin: 30px;
}
.lowerText{
  text-align: center;
  margin-top: 60%;
}
.upperText{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px
}
//ion-input{
//  border-bottom: 1px solid;
//  --placeholder-font-weight: bolder;
//}
ion-input {
  --placeholder-font-weight: bolder;
  border-bottom: 1px solid #EFEFEF;
  ::ng-deep input:focus {
    border-bottom: 1px solid black;
  }
}
.otp{
  text-align: center;
  font-weight: bolder;
  font-size: medium;
}
.warning{
  color: #FF2650;
  font-size: small;
  margin-top: 5px;
}
ion-row{
  margin-left: 30px;
  margin-right: 30px;
}
.resent{
  padding: .3rem;
  justify-content: center;
  display: flex;
  align-items: center;
  background-color: #EA0A8E;
  margin-left: 30%;
  margin-right: 30%;
  height: 35px;
  margin-top: 30%;
  color: white;
  font-size: 75%;
  border-radius: 7px;
  font-family: "sf regular";
}
.timer{
  text-align: center;
  margin-top: 5%;
  font-size: 75%;
  font-family:  "sf regular";
}
