<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="logo">
      <img src="./assets/Logo.png">
    </div>
    <img class="ion-float-right clear" role="button" src="./assets/clear.svg" (click)="location.back()">
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-margin-start ion-margin-vertical ion-margin-horizontal">
  <div class="header">Where do you want us to deliver?</div>
  <div class="search ion-margin-vertical">
    <div class="input-group mb-3">
      <div class="input-group-prepend" style="border: none; margin-right: 10px; margin-top: 5px;margin-bottom: 5px">
        <img src="./assets/nav-search.svg">
      </div>
      <input type="text" class="form-control input" (keydown.enter)="$event.preventDefault()" [(ngModel)]="address1" placeholder="Enter a new address" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="search ion-margin-vertical">
    <div class="input-group mb-3">
      <input  type="text" class="form-control input" (keydown.enter)="$event.preventDefault()" [(ngModel)]="address2" placeholder="Enter the complete address" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </div>
  <div class="search ion-margin-vertical">
    <div class="input-group mb-3">
      <input type="text" class="form-control input" (keydown.enter)="$event.preventDefault()" placeholder="Address name (home, work)" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </div>
  <ion-button class="save-button ion-margin-vertical" expand="block" *ngIf="address1.length > 0 && address2.length > 0" (click)="router.navigate(['tabs','homepage'])">Save & Finish</ion-button>
</div>
</ion-content>
