.logo {
  width: 25px;
  margin: auto;

}
.sign-button {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
}

.image{
  margin-top: 5rem;
}
.text-ionic {
  font-size: 30pt;
  //font-weight: 600;
  font-family: 'sf bold';
}
.ionic-content {
  text-align: center;
  font-size: 16pt;
  font-family: 'sf regular';
  color: #1A1824;
}
.signin {
  margin-top: 3rem;
  margin: auto;
  margin-bottom: 2.3em;
}
ion-button {
  --background: #EA0A8E;
  width: 80%;
  color: white;
  height: 45px;
  text-transform: none;
}

