<!--<ion-header>-->
<!--  <ion-toolbar>-->
<!--    <ion-buttons slot="end">-->
<!--      <ion-back-button text="" icon="add"></ion-back-button>-->
<!--    </ion-buttons>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->
<ion-app>
  <ion-content>
    <ion-grid class=" ion-margin-top ">
      <ion-row class="logo">
        <img src="./assets/Logo.png">
      </ion-row>
    </ion-grid>
    <ion-grid class=" ion-margin-top ">
      <ion-row class="image ion-justify-content-center">
        <img src="./assets/signup.png">
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <h3 class="signin-text">Sign up options</h3>
      </ion-row>
      <ion-row class="sign-apple ion-justify-content-center">
        <ion-button expand="full" fill="clear"><ion-icon name="logo-apple"></ion-icon><span>Sign up with apple</span></ion-button>
      </ion-row>
      <ion-row class="social-login ion-justify-content-center">
        <ion-col size-xs="5" class="sign">
          <div>
            <ion-button expand="full" fill="clear"><img src="./assets/google.png"></ion-button>
          </div>
        </ion-col>
        <ion-col size-xs="5" offset="1" class="sign">
          <div>
            <ion-button expand="full" fill="clear"><img src="./assets/facebook.png"></ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="mobile-login ion-justify-content-center">
        <ion-button expand="full" fill="clear"><span>Sign up with mobile</span></ion-button>
      </ion-row>
    </ion-grid>
  </ion-content>
</ion-app>
