<ion-header class="ion-no-border">
  <ion-toolbar>
      <img src="./assets/Back%20button.png" (click)="back()" class="back">
    <div class="logo">
      <img src="./assets/Logo.png">
    </div>
    <img class="ion-float-right edit" src="./assets/Controls%20-%20Buttons%20-%20Dark%20-%20Add.png" (click)="router.navigate(['select-location'])">
  </ion-toolbar>
</ion-header>
<ion-content>
<div class="ion-margin-vertical ion-margin-start ion-margin-horizontal">
  <div class="header">
    My addresses
  </div>
  <div>
      <ion-grid class="option ion-margin-vertical">
          <ion-row>
              <ion-col size-xs="9" class="ion-margin-vertical">
                      <label class="container" >
                          <span class="radio-button__label" style=" font-family: 'sf medium';color: gray;font-size: 14px; position: absolute;top: -6px">Home Address</span>
                          <span class="radio-button__label" style=" font-family: 'sf medium';font-size: 16px; position: absolute;bottom: -38px">Piata Uniri , Apra2 ...</span>
                          <input type="checkbox" [name]="1"  [disabled]="isChecked && (this.isCheckedName !== 1)" [value]="1" [id]="1">
                          <span class="checkmark" ></span>
                      </label>
              </ion-col>
              <ion-col size-xs="3" class="ion-margin-vertical">
                <b style="color: #EA0A8E" (click)="router.navigate(['select-location'])" role="button" class="ion-float-right">Change</b>
              </ion-col>
          </ion-row>
          <br>
          <ion-row>
              <ion-col size-xs="9" class="ion-margin-vertical">
                  <label class="container" >
                      <span class="radio-button__label" style=" font-family: 'sf medium';color: gray;font-size: 14px; position: absolute;top: -6px">Work Address</span>
                      <span class="radio-button__label" style=" font-family: 'sf medium';font-size: 16px; position: absolute;bottom: -38px">No address added</span>
                      <input type="checkbox" [name]="2"  [disabled]="isChecked && (this.isCheckedName !== 2)" [value]="2" [id]="2">
                      <span class="checkmark"></span>
                  </label>
              </ion-col>
              <ion-col size-xs="3" class="ion-margin-vertical">
                  <b style="color: #EA0A8E" (click)="router.navigate(['select-location'])" role="button" class="ion-float-right">Add</b>
              </ion-col>
          </ion-row>
      </ion-grid>
  </div>
</div>
</ion-content>
<ion-toolbar>
  <app-tabs></app-tabs>
</ion-toolbar>
