<ion-header class="ion-no-border">
  <ion-toolbar>
    <img src="./assets/Back%20button.png" (click)="back()" class="back">
    <div class="logo">
      <img src="./assets/Logo.png">
    </div>
    <img class="ion-float-right edit" src="./assets/Controls%20-%20Buttons%20-%20Dark%20-%20Add.png" (click)="router.navigate(['select-location'])">
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="ion-margin-vertical ion-margin-horizontal ">
    <div class="header" *ngIf="addressList.length > 0">
      My addresses
    </div>
    <div *ngIf="addressList.length > 0">
      <ion-grid class="option ion-margin-vertical">
        <ion-row *ngFor="let address of addressList" class="ion-margin-vertical">
          <ion-col size-xs="9" class="ion-margin-vertical">
            <label class="container" >
              <span class="radio-button__label name">{{address.name}}</span>
              <span class="radio-button__label value" >{{address.value}}</span>
              <input type="checkbox" [(ngModel)]="address.isSelected" (change)="check(address.name, $event)">
              <span class="checkmark" ></span>
            </label>
          </ion-col>
          <ion-col size-xs="3" class="" style="display: flex; align-items: center">
        <div class="ion-float-right" style="display: flex;align-items: center;margin-left: 25%">
            <img src="./assets/Delete%20button.png" (click)="deleteAlert(address.name)"  role="button" class="ion-float-right change ">
            <img class="ion-float-right pencil " src="./assets/edit-black.png" (click)="router.navigate(['select-location'])">
        </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div *ngIf="addressList.length === 0" class="subheader">
      No Address found!
     <small> Please add an address.</small>
    </div>
<!--    <div  class="text" *ngIf="addressList.length === 0">-->
<!--     Please add an address.-->
<!--    </div>-->
  </div>
</ion-content>
<ion-toolbar>
  <app-tabs></app-tabs>
</ion-toolbar>
