.logo {
  width: 25px;
  margin: auto;
}

.back {
  position: absolute;
  margin-top: 8px;
  margin-left: 30px;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
}

.edit {
  position: absolute;
  top: 2.5px;
  left: 88%;
}

.header {
  font-family: "Sf bold";
  font-size: 30px;
  margin-top: 30px;
}

::ng-deep ion-radio-group {
  display: block !important;
}

ion-radio {
  margin-right: 20px;
  --color-checked: #EA0A8E;
  --border-color-checked: #EA0A8E;
}

ion-label {
  margin-top: 10px;

  .add-name {
    color: grey;
    font-family: "Sf regular";
    font-size: 12px;
    margin-bottom: 5px;
  }

  .address {
    font-size: 14px;
    white-space: nowrap;
  }

  .change {
    padding-top: 10px;
    font-family: "Sf bold";
    font-size: 14px;
    color: #EA0A8E;
  }
}

ion-item {
  --padding-start: 0;
}


ion-grid {
  padding: 0px;
}

ion-col {
  padding: 0px;
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid lightgray;
  //border-bottom: 1px solid grey;
}

/* On mouse-over, add a grey background color */
//.container:hover input ~ .checkmark {
//  background-color: #ccc;
//}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #EA0A8E;
  border: 1px solid #EA0A8E;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 8px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.value {
  font-family: 'sf medium';
  font-size: 15px;
  position: absolute;
  bottom: -38px;
  white-space: nowrap
}

.name {
  font-family: 'sf medium';
  color: gray;
  font-size: 14px;
  position: absolute;
  top: -6px
}

.change {
  color: #EA0A8E;
  margin-top: 5px;
  font-size: 14px;
  font-family: 'Sf bold'
}
.pencil {
  height: 20px;
  margin-top: 5px;
}
.subheader{
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  margin-top: 20%;
  font-family: "sf bold";
  font-size: 20px;
}
.text{
  font-family: "Sf medium";
  margin-top: 20px;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}
