<ion-app>
    <ion-content>
        <div class="header" (click)="close()">
            <img src="./assets/pizza-dough-11.png"
                 style=" filter: brightness(50%);min-width: 100%;min-height: 100%;width: auto;height: auto">
            <img src="./assets/Back%20button.png" (click)="clickBack()" class="back">
            <img src="./assets/Share%20button.png" class="share">
        </div>
        <div>
            <div class="heading">
                <ion-grid>
                    <ion-row>
                        <ion-col size-xs="8" size-sm="8" size-md="8">
                            <h1>Pizza Dough</h1>
                        </ion-col>
                        <ion-col size-xs="4" size-sm="4" size-md="4">
                            <div class="addImg">
                                <img src="./assets/Add%20item%20button.png" (click)="presentModal()">
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <div style="margin-left: 20px;">
                <span style="font-family: sf light; font-size: 16px">Starting From</span>
                <span style="margin-left: 5%; color: #EA0A8E; font-family: 'Sf bold'">$4.50</span>
            </div>
            <div class="body1">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
            </div>
        </div>
        <div class="heading">
            <h2>Reviews</h2>
            <div *ngFor="let person of reviewList" style="margin-bottom: 20px; margin-top: 20px;margin-right: 30px">

                <ion-grid>
                    <ion-row>
                        <ion-col size-xs="3" size-sm="3" size-md='3'>
                            <img src="./assets/blank.png" class="reviewImg">
                        </ion-col>
                        <ion-col size-xs="6" size-sm="6" size-md="6">
                            <div style="margin-top: 1%;">
                                <div style="margin-bottom: 8px">
            <span style="font-family: 'Sf bold'; white-space: nowrap">
                {{person.name}}
            </span>
                                </div>
                                <div class="reviewSub">
                                    <div style="margin-right: 5px">{{person.country}}</div>
                                    <div style="margin-right: 5px">
                                        <div style="font-size: 10px; font-weight: bolder ;margin-bottom: 30px">.</div>
                                    </div>
                                    <div style="white-space: nowrap">{{person.count}} Reviews</div>
                                </div>
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="rating-selected rating" style="margin-left: 20%">
                                <span style="font-size: 12px; color: white; font-family: 'sf regular'; margin-right: 3px">{{person.star}}</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12.35"
                                     viewBox="0 0 13 12.35">
                                    <defs>
                                        <style>.a {
                                            fill: #ea0a8e;
                                        }</style>
                                    </defs>
                                    <path class="a"
                                          d="M6.5,0,8.531,4.062,13,4.712,9.75,7.881l.731,4.469L6.5,10.237,2.519,12.35,3.25,7.881,0,4.712l4.469-.65Z"
                                          transform="translate(0 0)"/>
                                </svg>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <div class="reviewContent">
                    {{person.content}}
                </div>
                <div *ngIf="person.content2" class="reviewContent">
                    {{person.content2}}
                </div>
            </div>
        </div>
        <ion-grid class="ion-margin-start">
            <p class="head">Your rating</p>
            <ion-row>
                <div class="rating">
                    <span style="font-size: 12px; font-family: 'sf regular'; margin-right: 3px">  1</span><img src="./assets/star.svg">
                </div>
                <div class="rating">
                    <span style="font-size: 12px; font-family: 'sf regular'; margin-right: 3px">  2</span><img src="./assets/star.svg">
                </div>
                <div class="rating">
                    <span style="font-size: 12px; font-family: 'sf regular'; margin-right: 3px">  3</span><img src="./assets/star.svg">
                </div>
                <div class="rating-selected rating">
                    <span style="font-size: 12px; color: white; font-family: 'sf regular'; margin-right: 3px">   4 </span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="12.35" viewBox="0 0 13 12.35">
                        <defs>
                            <style>.a {
                                fill: #ea0a8e;
                            }</style>
                        </defs>
                        <path class="a"
                              d="M6.5,0,8.531,4.062,13,4.712,9.75,7.881l.731,4.469L6.5,10.237,2.519,12.35,3.25,7.881,0,4.712l4.469-.65Z"
                              transform="translate(0 0)"/>
                    </svg>
                </div>
                <div class="rating">
                    <span style="font-size: 12px;  font-family: 'sf regular'; margin-right: 3px">   5</span><img src="./assets/star.svg">
                </div>
            </ion-row>
            <ion-row class="ion-margin-vertical">
                <small>We would love to hear more about your experience!</small>
                <br>
                <br>
                <b style="color: #EA0A8E" routerLink="/add-review">+ Add your review</b>
            </ion-row>
        </ion-grid>
        <div style="margin-left: 20px">
            <ion-grid>
                <ion-row>
                    <ion-col size-xs="11">
                        <ion-row>
                            <ion-col size-xs="6">
                                <span class="head">Similar Products</span>
                            </ion-col>
                            <ion-col size-xs="6" class="ion-align-self-center">
                        <span class="span ion-float-right"><small>View all</small><small><ion-icon
                                name="chevron-forward-outline"></ion-icon></small></span>
                            </ion-col>
                        </ion-row>
                        <ion-row style="margin-top: 10%">
                            <ion-scroll scrollX="true" direction="x">
                                <div>
             <span>
                <img class="categories-img" src="./assets/blank.png"/>
                 <div style="font-family: 'Sf bold'; font-size: 14px; margin-top: 5%">
             MDH Masala
                     </div>
           </span>
                                </div>
                                <div>
             <span>
                <img class="categories-img" src="./assets/blank.png"/>
                 <div style="font-family: 'Sf bold'; font-size: 14px; margin-top: 5%">
                MDH Masala
                     </div>
           </span>
                                </div>
                                <div>
             <span>
                <img class="categories-img" src="./assets/blank.png"/>
                 <div style="font-family: 'Sf bold'; font-size: 14px; margin-top: 5%">
                 MDH Masala
                     </div>
           </span>
                                </div>

                            </ion-scroll>
                        </ion-row>
                    </ion-col>

                </ion-row>
            </ion-grid>
        </div>
    </ion-content>

</ion-app>

