<ion-app>
<ion-content>
    <div class="header">
        <img src="./assets/pizza-dough-11.png" style=" filter: brightness(50%);">
        <img src="./assets/Back%20button.png" class="back">
        <img src="./assets/Share%20button.png" class="share">
    </div>
    <div>
        <div class="heading">
            <ion-grid>
                <ion-row>
                    <ion-col size="8">
                <h1>Pizza Dough</h1>
                    </ion-col>
                    <ion-col size="4">
                <div class="addImg">
                    <img src="./assets/Add%20item%20button.png">
                </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </div>
        <div style="margin-left: 30px; margin-top: 10px">
            <span style="font-family: sf light; font-size: 16px">Starting From</span>
            <span style="margin-left: 5%; color: #EA0A8E; font-family: 'Sf bold'">$4.50</span>
        </div>
    </div>
</ion-content>
</ion-app>
