.logo {
  width: 25px;
  margin: auto;
}
.back {
  position: absolute;
  margin-top: 8px;
  margin-left: 40px;
  transform: translate(-50%, -50%);
}
.edit {
  position: absolute;
  top: 2.5px;
  left: 85%;
}
.image{
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 40%;
}
.header1{
  font-family: "Sf bold";
  font-size: 30px;
  display: flex;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.subheader1{
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  font-family: "Sf regular";
  font-size: 15px;
  margin-top: 20px;
}
.track-order{
  text-transform: none;
  --background: #EA0A8E;
  width: 85%;
  height: 44px;
  margin: auto;
  font-family: "sf regular";
  font-size: 16px;
  --border-radius: 7px !important;

}
