<ion-header class="ion-no-border">
  <ion-toolbar>
    <div class="logo">
      <img src="./assets/Logo.png">
    </div>
    <img class="ion-float-right clear" role="button" src="./assets/clear.svg" (click)="location.back()">
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-margin-start ion-margin-horizontal">
  <div class="image">
    <img src="./assets/small-map.png">
  </div>
  <div class="header">Where do you want us to deliver?</div>
  <div class="subheader">Please allow app access to your location to find restaurants near you.</div>
  <div style="position: fixed; bottom: 50px; width: 83%">
  <ion-button class="main-btn" expand="block" (click)="router.navigate(['where-deliver'])">Use current location</ion-button>
  <div class="btn ion-margin-start ion-margin-horizontal" (click)="router.navigate(['location'])">Select it manually</div>
  </div>
</div>
</ion-content>
