.header {
  position: relative;
}
.back {
  position: absolute;
  top: 15%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.share {
  position: absolute;
  top: 15%;
  right: 1%;
  transform: translate(-50%, -50%);
}
h2 {
  font-family: "sf bold";
  font-size: 2rem;
}
.marketHeading {
  display: flex;
  align-items: center;
}
.shop-info {
  margin-left: 15px;
}
.rating-time{
  display: flex;
}
.shop-rtf {
  margin-right: 60px;
}
.span {
  display: flex;
  align-items: center;
  p {
    margin-left: 5px;
    font-size: .9rem;
  }
}
.info-nav {
  display: flex;
  justify-content: space-around;
}
.categories-img {
  margin-right: 15px;
  width: 140px;
  border-radius: 10px;
  border: 1px solid gray;
}
ion-scroll {
  display: -webkit-inline-box;
  overflow-x: auto;
}
.heading {
  font-family: "sf bold";
  font-size: 1.5rem;
  font-weight: 600;
}
//small {
//  color: #919099;
//}
.rating {
  height: 30px;
  width: 50px;
  background: #EAEAEB;
  margin-right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.rating-selected {
  background: #EA0A8E !important;
  path {
    fill: white;
  }
}
.shop-rtf {
  margin-right: 40px;
}
.shop-img {
  width: 270px;
  height: 150px;
  border-radius: 10px;
  margin-right: 10px;
}
.text-gray {
  color: #919099;
}
.category {
  color: grey;
}
ion-button {
  --background: none;
  --border-color: white;
  text-transform: none;
}
