<ion-app>
  <ion-content>
<div class="header">
  <img src="./assets/shop.jpg">
  <img class="back" src="./assets/back.png" (click)="back()">
  <img class="share" src="./assets/share.png">
</div>
    <ion-grid class="ion-margin-start">
      <ion-row class="marketHeading">
      <ion-col size-xs="8">
        <h2>
          More Market
        </h2>
      </ion-col>
        <ion-col size-xs="4">
          <div class="info-nav">
            <img class="nav" src="./assets/nav.svg">
            <img class="nav" src="./assets/info.svg">
<!--            <img class="info" src="./assets/info.svg">-->
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
       <ion-col size-xs="8">
         <h6>Medical, Confectionary, European, International.....</h6>
       </ion-col>
      </ion-row>
      <ion-row>
        <div class="rating-time">
          <div class="shop-rtf">
            <span class="span" ><img src="./assets/star.svg"><p>4.8(120+)</p></span>
          </div>
          <div class="shop-rtf">
            <span class="span" ><ion-icon name="time-outline"></ion-icon><p>   60min</p></span>
          </div>
          <div class="shop-rtf">
            <span class="span" ><img style="width: 13px" src="./assets/dollar.png"><p>   Free</p></span>
          </div>
        </div>
      </ion-row>
    </ion-grid>
<!--    Feature Product-->
    <ion-grid  class="ion-margin-start">
      <ion-row>
        <ion-col size-xs="12">
          <ion-row>
            <ion-col size-xs="8">
              <h3 class="heading">Featured products</h3>
            </ion-col>
            <ion-col size-xs="4" class="ion-align-self-center">
                        <span class="span ion-float-right"><small>View all</small><small><ion-icon
                                name="chevron-forward-outline"></ion-icon></small></span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-scroll scrollX="true" direction="x">
              <div>
             <span>
                <img class="categories-img" src="./assets/bananas.webp"/>
               <br>
             <b>MDH Masala</b>
           </span>
              </div>
              <div>
             <span>
                <img class="categories-img" src="./assets/bananas.webp"/>
               <br>
             <b>MDH Masala</b>
           </span>
              </div>
              <div>
             <span>
                <img class="categories-img" src="./assets/bananas.webp"/>
               <br>
             <b>MDH Masala</b>
           </span>
              </div>

            </ion-scroll>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-grid>
<!--Product cateogories-->
    <ion-grid class="ion-margin-start">
      <ion-row>
        <ion-scroll scrollX="true" direction="x">
          <div class="ion-margin-end">
             <span>
          <div (click)="productShow('Bevrages')" [ngStyle]="bevFlag ? {'color': 'black'} : undefined"  class="heading category">Bevrages</div>
           </span>
          </div>
          <div class="ion-margin-end">
             <span>
               <div (click)="productShow('con')" [ngStyle]="conFlag ? {'color': 'black'} : undefined"   class="heading category">Confectionaries</div>
           </span>
          </div>
          <div>
             <span>
             <div (click)="productShow('Bevrages1')" [ngStyle]="bevFlag1 ? {'color': 'black'} : undefined"   class="heading category">Bevrages</div>
           </span>
          </div>
        </ion-scroll>
      </ion-row>
<!--      Dairymilk sec-->
      <ion-row style="margin-top: 5%" *ngFor="let item of viewList">
        <ion-col size-xs="2">
          <div style="background: grey; border: 1px solid lightgray; height: 50px; border-radius: 7px"></div>
        </ion-col>
        <ion-col size-xs="6" >
            <b>{{item.item}}</b>
          <br>
          <small class="text-gray">{{item.subdel}}</small>
        </ion-col>
        <ion-col size-xs="4">
             <b style="color: #EA0A8E" class="ion-float-right ion-margin-end">$15</b>
        </ion-col>
      </ion-row>
    </ion-grid>


<!--Review section-->
<ion-grid class="ion-margin-start">
    <ion-row>
      <ion-col size-xs="8">
        <h3 class="heading">Reviews</h3>
      </ion-col>
      <ion-col size-xs="4" class="ion-align-self-center">
                        <span class="span ion-float-right"><small>Read all 189</small><small><ion-icon
                                name="chevron-forward-outline"></ion-icon></small></span>
      </ion-col>
    </ion-row>
    <ion-row>
    <ion-col size-xs="2">
      <div style="background: grey; border: 1px solid lightgray; height: 50px; border-radius: 7px"></div>
    </ion-col>
    <ion-col size-xs="6" >
      <b >Mike Smithson</b>
      <br>
      <small class="text-gray" >Australia <span>.</span> 45 Review</small>
    </ion-col>
    <ion-col size-xs="4">
      <div class="rating-selected rating">
        <span style="color: white">4</span><svg xmlns="http://www.w3.org/2000/svg" width="13" height="12.35" viewBox="0 0 13 12.35"><defs><style>.a{fill:#ea0a8e;}</style></defs><path class="a" d="M6.5,0,8.531,4.062,13,4.712,9.75,7.881l.731,4.469L6.5,10.237,2.519,12.35,3.25,7.881,0,4.712l4.469-.65Z" transform="translate(0 0)"/></svg>
      </div>
    </ion-col>
      <small class="ion-margin-end text-gray" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</small>

    </ion-row>

  <ion-row>
    <ion-col size-xs="2">
      <div style="background: grey; border: 1px solid lightgray; height: 50px; border-radius: 7px"></div>
    </ion-col>
    <ion-col size-xs="6" >
      <b>Mike Smithson</b>
      <br>
      <small class="text-gray" >Australia <span>.</span> 45 Review</small>
    </ion-col>
    <ion-col size-xs="4">
      <div class="rating-selected rating">
        <span style="color: white">4</span><svg xmlns="http://www.w3.org/2000/svg" width="13" height="12.35" viewBox="0 0 13 12.35"><defs><style>.a{fill:#ea0a8e;}</style></defs><path class="a" d="M6.5,0,8.531,4.062,13,4.712,9.75,7.881l.731,4.469L6.5,10.237,2.519,12.35,3.25,7.881,0,4.712l4.469-.65Z" transform="translate(0 0)"/></svg>
      </div>
    </ion-col>
    <small class="ion-margin-end text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</small>

  </ion-row>

  <ion-row>
    <ion-col size-xs="2">
      <div style="background: grey; border: 1px solid lightgray; height: 50px; border-radius: 7px"></div>
    </ion-col>
    <ion-col size-xs="6" >
      <b>Mike Smithson</b>
      <br>
      <small class="text-gray">Australia <span>.</span> 45 Review</small>
    </ion-col>
    <ion-col size-xs="4">
      <div class="rating-selected rating">
        <span style="color: white">4</span><svg xmlns="http://www.w3.org/2000/svg" width="13" height="12.35" viewBox="0 0 13 12.35"><defs><style>.a{fill:#ea0a8e;}</style></defs><path class="a" d="M6.5,0,8.531,4.062,13,4.712,9.75,7.881l.731,4.469L6.5,10.237,2.519,12.35,3.25,7.881,0,4.712l4.469-.65Z" transform="translate(0 0)"/></svg>
      </div>
    </ion-col>
    <small class="ion-margin-end text-gray">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat</small>

  </ion-row>

</ion-grid>

<!--    Rating section-->
    <ion-grid class="ion-margin-start">
      <p class="heading">Your rating</p>
      <ion-row>
        <div class="your-rating">
          1<img src="./assets/star.svg">
        </div>
        <div class="your-rating">
          2<img src="./assets/star.svg">
        </div>
        <div class="your-rating">
          3<img src="./assets/star.svg">
        </div>
        <div class="rating-selected your-rating">
          <span style="color: white">4</span><svg xmlns="http://www.w3.org/2000/svg" width="13" height="12.35" viewBox="0 0 13 12.35"><defs><style>.a{fill:#ea0a8e;}</style></defs><path class="a" d="M6.5,0,8.531,4.062,13,4.712,9.75,7.881l.731,4.469L6.5,10.237,2.519,12.35,3.25,7.881,0,4.712l4.469-.65Z" transform="translate(0 0)"/></svg>
        </div>
        <div class="your-rating">
          5<img src="./assets/star.svg">
        </div>
      </ion-row>
      <ion-row class="ion-margin-vertical">
        <small style="color: #919099">We would love to hear more about your experience!</small>
        <br>
        <br>
        <b style="color: #EA0A8E" routerLink="/add-review">+ Add your review</b>
      </ion-row>
    </ion-grid>
<!--    Similar shops section-->
    <ion-grid  class="ion-margin-start">
      <ion-row>
        <ion-col size-xs="12">
          <ion-row>
            <ion-col size-xs="8">
              <h3 class="heading">Similar shops</h3>
            </ion-col>
            <ion-col size-xs="4" class="ion-align-self-center">
                        <span class="span ion-float-right"><small>View all</small><small><ion-icon
                                name="chevron-forward-outline"></ion-icon></small></span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-scroll scrollX="true" direction="x">
              <div>
             <span>
                <img class="shop-img" src="./assets/shop.jpg"/>
               <br>
               <br>
             <b>SRS</b>
               <br>
               <br>
                 <small>Multi Store</small>
               <br>
               <br>
                  <div class="rating-time">
                     <div class="shop-rtf">
                        <span class="span" ><img src="./assets/star.svg" style="margin-right: 5px"><small>   4.8(120+)</small></span>
                     </div>
                      <div class="shop-rtf">
                        <span class="span" ><ion-icon name="time-outline" style="margin-right: 5px"></ion-icon> <small>   60min</small></span>
                     </div>
                      <div class="shop-rtf">
                        <span class="span" ><img style="width: 13px; margin-right: 5px" src="./assets/dollar.png"> <small>  Free</small></span>
                     </div>
                 </div>
           </span>
              </div>
              <div>
             <span>
                <img class="shop-img" src="./assets/shop.jpg"/>
               <br>
               <br>
             <b>Spencer</b>
               <br>
               <br>
                 <small>$$$$,India</small>
               <br>
               <br>
                  <div class="rating-time">
                     <div class="shop-rtf">
                        <span class="span" ><img src="./assets/star.svg" style="margin-right: 5px"><small>   4.8(120+)</small></span>
                     </div>
                      <div class="shop-rtf">
                        <span class="span" ><ion-icon name="time-outline" style="margin-right: 5px"></ion-icon> <small>   60min</small></span>
                     </div>
                      <div class="shop-rtf">
                        <span class="span" ><img style="width: 13px; margin-right: 5px" src="./assets/dollar.png"> <small>  Free</small></span>
                     </div>
                 </div>
           </span>
              </div>

            </ion-scroll>
          </ion-row>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-content>
<ion-toolbar>
    <app-tabs></app-tabs>
</ion-toolbar>
</ion-app>
