/*
* App Global CSS
* ----------------------------------------------------------------------------
* Put style rules here that you want to apply globally. These styles are for
* the entire app and not just one component. Additionally, this file can be
* used as an entry point to import other CSS/Sass files to be included in the
* output CSS.
* For more information on global stylesheets, visit the documentation:
* https://ionicframework.com/docs/layout/global-stylesheets
*/

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@font-face {
  font-family: sf bold;
  src: url(./assets/fonts/FontsFree-Net-SFProDisplay-Bold.ttf) format("opentype");
}
@font-face {
  font-family: sf medium;
  src: url(./assets/fonts/FontsFree-Net-SFProDisplay-Medium.ttf) format("opentype");
}
@font-face {
  font-family: sf regular;
  src: url(./assets/fonts/FontsFree-Net-SFProText-Regular.ttf) format("opentype");
}
@font-face {
  font-family: sf light;
  src: url(./assets/fonts/FontsFree-Net-SFProDisplay-Light.ttf) format("opentype");
}
.header {
  .action-sheet-group{
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .action-sheet-title{
    color: black;
    font-weight: bolder;
    font-size: 30px;
    margin-top: 30px;
  }
  .prime {
    background-color: #EA0A8E;
    color: white;
    //max-width: 300px;
    width: 92%;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 110px;
  }
  .action-sheet-button-inner {
    justify-content: center;
    //margin-top: 20px;
    //margin-left: 20px;
  }
  .sec {
    width: 92%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    margin: auto;
    //padding-left: 60px;
    .action-sheet-button-inner {
      justify-content: center;
    }
  }
  .action-sheet-sub-title{
    color: #EA0A8E;
    padding: 0;
    font-weight: bolder;
    font-size: 30px;
  }


}

.addModal{
  margin-top: 40%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  .modal-wrapper{
    width: 100%;
    height: 100%;
  }
}
.exitApp {
  .modal-wrapper{
    width: 85%;
    height: 170px;
  }
}
.toaster{
  width: 80%;
  margin-left: 10%;
  text-align: center;
}
.Toast{
  background-color: #EA0A8E;
  color: white;
}
.alertCancel{
  .alert-wrapper{
    background: #EA0A8E;
    color: white;
  }
  .alert-title.sc-ion-alert-md {
    color: white;
    font-family: 'sf bold';
  }
  .alert-message.sc-ion-alert-md {
    color: white;
  }
  .alert-button {
    color: white;
  }
}
.countryModal{
  width: 80%;
  height: 300px;
  margin-top: 50%;
  margin-left: 5%;
  border: 1px solid black;
  border-radius: 10px;
}
